{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ static_url("css/wmd.css") }}"/>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ static_url("js/wmd.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/showdown.js") }}"></script>
{% endblock %}
{% block body %}
<div class="ask form">
  {{ notice_message }}
  <form action="/ask" method="post">
    <div class="row">
      <label>标题</label><br />
      <input type="text" class="text long" name="title" value="" />
    </div>
    <div class="row">
      <label>描述</label><br />
      <div id="ask_body_buttons"></div>
      <textarea id="ask_body" name="body" class="text long"></textarea><br />
      <div id="ask_body_preview" class="md_body"></div>
      <script type="text/javascript">
        setup_wmd({
          input: "ask_body",
          button_bar: "ask_body_buttons",
          preview: "ask_body_preview",
          output: "copy_html"
        });
      </script>
    </div>
    <div class="row">
      <label>标签</label><br />
      <input type="text" class="text long" name="tags" value="" />
    </div>
    <div class="actions">
      <button type="submit">提交问题</button>
    </div>
    {{ xsrf_form_html() }}
  </form>
</div>
{% endblock %}
