{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/wmd.css"/>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/wmd.js"></script>
<script type="text/javascript" src="/static/js/showdown.js"></script>
{% endblock %}
{% block body %}
<div class="ask">
  <h1>{{ ask.title|e }}</h1>
  <div class="info">{{ ask.user|user_name_tag }} 发布关于 {{ ask.tags|tags_name_tag }} 的问题于 
    {{ ask.created_at|strftime }}, {{ ask.answers|count }} 个回答</div>
  <div class="md_body">{{ ask.body|md_body }}</div>
</div>
<div class="answers">
  {% for item in ask.answers %}
  <div class="answer">
    <div class="info">{{ item.user|user_name_tag }} 回复与 {{ item.created_at|strftime }}</div>
    <div class="md_body">{{ item.body|md_body }}</div>
  </div>
  {% endfor %}
</div>
<div class="ask from">
  <h2>回答</h2>
  {{ notice_message }}
  <form action="/ask/{{ ask.id }}/answer" method="post">
    <div class="row">
      <div id="answer_body_buttons"></div>
      <textarea id="answer_body" name="body" style="height:100px;" class="text long"></textarea><br />
      <div id="answer_body_preview" class="md_body"></div>
      <script type="text/javascript">
        setup_wmd({
          input: "answer_body",
          button_bar: "answer_body_buttons",
          preview: "answer_body_preview",
          output: "copy_html"
        });
      </script>
    </div>
    <div class="actions">
      <button type="submit">提交回答</button>
    </div>
    {{ xsrf_form_html() }}
  </form>
</div>
{% endblock %}
