{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ static_url("css/wmd.css") }}"/>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ static_url("js/wmd.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/showdown.js") }}"></script>
<script type="text/javascript">
  function toggleAskComments(){
    var ask_comments = $("#ask_{{ask.id}}_comments");
    ask_comments.slideToggle(200);
    return false;
  }

  function toggleAnswerComments(id){
    var answer_comments = $("#answer_"+id+"_comments");
    answer_comments.slideToggle(200);
    return false;
  }

  function submitComment(el){
    frm = $(el);
    action_url = frm.attr("action");
    input_body = $(".body",frm);
    body = input_body.val();
    if(body.length < 1){
      input_body.focus();
      return false;
    }

    $.ajax({
      type : "post",
      url : action_url,
      data : frm.serialize(),
      dataType : "json",
      success : function(item){ 
        if(item.success == 1){
          html = '<div style="display:none;" class="comment"><div class="md_body">'+body+'</div>';
          html += '<div class="info"><a href="/user/'+item.user_id+'">'+item.name+'</a></div>';
          var new_comment = $(html);
          frm.parent().before(new_comment);
          new_comment.fadeIn(200);
          $(".body",frm).val("").focus();
        }
        else{
          alert("异常，评论失败。");
        }
      }
    });
    return false;
  }
</script>
{% endblock %}
{% from "_comments.html" import comments_render %}
{% block body %}
<div class="ask">
  <h1>{{ ask.title|e }}</h1>
  <div class="info">{{ ask.user|user_name_tag }} 发布关于 {{ ask.tags|tags_name_tag }} 的问题于 
    {{ ask.created_at|strftime }}, {{ ask.answers|count }} 个回答</div>
  <div class="md_body">{{ ask.body|md_body }}</div>
  <div class="action">
    {% if ask.comments|count == 0 %}
    <a href="#" onclick="return toggleAskComments();">给予评论</a>
    {% else %}
    <a href="#" onclick="return toggleAskComments();">{{ ask.comments|count }} 条评论</a>
    {% endif %}
    • <a href="#">收藏</a>
  </div>
  {{ comments_render("ask",ask,xsrf_form_html) }}
</div>
<div class="answers">
  {% for item in answers %}
  <div class="answer">
    <div class="info">{{ item.user|user_name_tag }} 回复与 {{ item.created_at|strftime }}</div>
    <div class="md_body">{{ item.body|md_body }}</div>
    <div class="action">
      {% if item.comments|count == 0 %}
      <a href="#" onclick="return toggleAnswerComments('{{ item.id }}');">给予评论</a>
      {% else %}
      <a href="#" onclick="return toggleAnswerComments('{{ item.id }}');">{{ item.comments|count }} 条评论</a>
      {% endif %}
      • <a href="#">有用</a> • <a href="#">没有帮助</a>
    </div>
    {{ comments_render("answer",item,xsrf_form_html) }}
  </div>
  {% endfor %}
</div>
<div class="ask from">
  <h2>回答</h2>
  {{ notice_message }}
  <form action="/ask/{{ ask.id }}/answer" method="post">
    <div class="row">
      <div id="answer_body_buttons"></div>
      <textarea id="answer_body" name="body" style="height:100px;" class="text long"></textarea><br />
      <div id="answer_body_preview" class="md_body"></div>
      <script type="text/javascript">
        setup_wmd({
          input: "answer_body",
          button_bar: "answer_body_buttons",
          preview: "answer_body_preview",
          output: "copy_html"
        });
      </script>
    </div>
    <div class="actions">
      <button type="submit">提交回答</button>
    </div>
    {{ xsrf_form_html() }}
  </form>
</div>
{% endblock %}
